 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    scroll-behavior: smooth;
    transition: all .2s linear;
   
}
body{
    background-color: rgb(240, 230, 230);
    overflow-x : hidden;
}
.mybtn{
background-color:rgb(196, 68, 138) !important;
border: 3px ridge goldenrod !important;
color: #fff !important;
padding: 10px;
font-size: 1.5rem;
}
.mybtn a{
    color: #fff !important;

}
.mybtn:hover{
    transform: scale(0.90);
}

.ayat{
    text-align: center;
    background-color: #111;
    color: #fff;
    font-size: 1.5rem;
}
.logo{
    width: 150px;
    height: 80px;
    margin-left: 70px;
    border-radius: 200px ;
}
.subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
#hero{
    background: url("../images/ayat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 9em 5em;

} 
#hero::after{
    content: '';
    position: absolute;
    left: 0%;
    top:0%;
    height:100vh;
    width: 100%;
}

.box{
    border: 2px solid rgb(172, 54, 119);
    width: 100%;
}
 b{
    overflow: hidden;
    height: 200px;
    position: relative;
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-right: 20px;

}
 span1{
    display: inline-block;
    color: rgb(172, 54, 119);
    position: relative;
    white-space: nowrap;
    font-size: 1.5rem;
    margin-top: 40px;
    top: 0px;
    left: 0px;
    animation: move 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

 .headline{
    color: rgb(172, 54, 119) ;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
.headline .line{
    border-top: 5px ridge rgba(218, 165, 32, 0.836);
    border-bottom: 5px ridge rgba(218, 165, 32, 0.836);
    padding: 0px 35px;
}
.mynav{
    background-color:  #fff;
    box-shadow: rgba(109, 108, 108, 0.45) 0px 25px 20px -20px;
        width: 100%;
    
}

.mynav ul li a{
    color: #111 !important;
    font-weight: 500;
    font-size: 1rem;
    padding: 20px !important;

}
.mynav ul li a:hover{
    background-color: rgb(172, 54, 119) ;
    color: #fff !important;
    border-radius: 15px 15px 0 0;

}
.mynav ul li a i{
    font-size: 20px;
}
.vision{
    background-image: linear-gradient( rgba(7, 7, 7, 0), rgb(241, 168, 223)), url(../images/vision-bg.png);
    background-size: cover;
    background-attachment: fixed;
    color:#fff;
    height: 50vh;
 
}
.vision .vision-curve{
    background-image: linear-gradient( rgba(7, 7, 7, 0), rgb(241, 168, 223)), url(../images/vision\ curve.PNG);
    height: 20vh;
    width: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.vision h2{
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
}
.vision p{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    font-weight: 600;
}
/********************************************* login-form  ******************************** */
.login-form{
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-form form{
    width: 35rem;
    background: #fff;
    margin: 0 2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 .1rem .3rem #333 ;
}
.login-form.popup{
    top: 0;
}
.login-form form h3{
    font-size: 3rem;
    color: rgb(172, 54, 119);
    padding: 1rem 0;
}
.login-form form .box{
    width: 100%;
    padding: 1rem 0;
    margin:1rem 0;
    border: none;
    border-bottom: .2rem solid #666;
    font-size: 1.6rem;
    color: #333;
    text-transform: none;
}
.login-form form .box::placeholder{
text-transform: capitalize;
}
.login-form form .box:focus{
    border: none;
    border-bottom: .2rem solid #666;
    border-color: rgb(172, 54, 119);
}
.login-form form .box:nth-child(2){
margin-bottom: 5rem;
}
.login-form form p a{
    color: rgb(172, 54, 119);
}
.login-form form .btn{
    width: 100% !important;
    border-radius: 50px !important;
}
.login-form form .fa-times{
    float: right;
    font-size: 2.5rem;
    cursor: pointer;
    color: #999;

}
.login-form form .fa-times:hover{
    color: #111;
}


/************************************ about styling ******************************/

#about .text-center{
    margin: 20px 0 40px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 13vh !important;
}
 #about h2{
    padding:15px 5px 5px 50px;

}
.main{
    margin-top: 50px;
    height: 200px;
    width: 100% !important;
    background-repeat: no-repeat;
}


#about a{
    text-decoration: none;
    color: #fff;
}
#about .mybreadcrumb{
    padding-left: 20px;
    background-color:  rgb(172, 54, 119) !important;
    margin-top: 0px;
    color: #fff;
}
#about p{
    color: rgb(122, 128, 125);
}
#about .about-text{
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;
text-align: justify;
margin-right: 50px;
margin-top: 50px;
margin-left: 50px;
background-color: rgb(240, 230, 230);

}
#about .para{
    background-color: rgb(240, 230, 230);

}
#about video{
    width:50% !important;
    height: 60% !important;
    margin-left:70px !important;
}
#about button{
    margin-left: 90px;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color:rgb(172, 54, 119) !important;
    border: 3px ridge goldenrod !important;

}

/*************************888*********************88 course ********************************88******88*/
#course .text-center{
    margin: 20px 0 40px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 13vh !important;
}
 #course h2{
    padding:15px 5px 5px 50px;

}
#course .slide img{
    width: 90%;
    margin: 0 auto;
    height: 30vh;
}
#course .slide img:hover{
    transform: scale(0.95);
}
#course .slide{
    height: 550px;
}


#course .slick-arrow:hover{
    background-color: rgb(172, 54, 119);
    width: 50px;
    height: 50px;
    color: #fff;
    outline: none;
    border-radius: 50%;

}
#course h5{
    color: rgb(172, 54, 119);
}
#course .mycard{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border:2px solid rgb(172, 54, 119);
    padding-top: 20px;
}
#course button{
    margin-left: 90px;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.5rem;
}
#course button a{
    color: #fff;
}

/********************************************* teachers ******************************************/
#teachers{
    color: #fff;
}
#teachers .text-center{
    margin: 20px 0 40px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173) !important;
    height: 13vh !important;
    text-align: center;
    justify-content: center;
}
#teachers h2{
    padding:15px 5px 5px 50px;
}

#teachers a img{
    max-width: 100%;
    height: 300px;
}

#teachers .blog-entry .entry-hover .hover-cover,
#teachers:hover .blog-entry .entry-hover .hover-cover,
#teachers .blog-entry .hover-info,
i, input,textarea, body, button,a{
    transition: ease-in-out 0.4s;
}
#teachers .blog{
    padding: 80px 0 20px;
    overflow: hidden;
}
#teachers h2 a{
    color: rgb(172, 54, 119);
}
#teachers h2,h3{
    font-family: monospace;
}
#teachers .blog-entry{
    margin-bottom: 200px;
    position: relative;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; 
}
 #teachers .blog-entry .entry-hover{
    position: absolute;
    margin: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
}
#teachers .blog-entry .entry-hover .hover-cover{
position: absolute;
bottom: 50;
left: 0;
right: 0;
margin: 0 auto -75px;
z-index: 2;
border-radius: 300px;
filter: alpha(opacity=80);

}
#teachers .blog-entry:hover .entry-hover .hover-cover{
    height: auto;
    width: auto;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#teachers .blog-entry .hover-info{
    position: absolute;
    top: 100%;
    margin-top: -25px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4;
}
#teachers .blog-entry:hover .hover-info{
    top: 0;
    margin-top:25px
}
#teachers .blog-entry .hover-info img{
    border-radius: 200px;
    width: 70px;
    height: 70px;
    margin:0 auto 18px;
}
#teachers .blog-entry:hover .hover-info img{
    border: 0px solid white !important;
    transition: all 0.5s ease-in-out;
}
#teachers .blog-entry:hover .hover-info:hover img{
    transform: scale(1.3) rotate(360deg);
}
#teacher .blog-entry .hover-info p{
    font-size: 13px;
    font-style:italic;
}
#teacher .blog-entry .hover-info p h2 a{
    color: #fff !important;
    text-decoration: none; 
}
#teacher .blog-entry .hover-info p h2 a:hover{
    color: #fff !important;

}
#teacher .blog-entry .hover-info .hover-text,
#teacher .blog-entry .hover-info .hover-author{
    display: none;
    margin-bottom: 20px;
}
#teacher .blog-entry:hover .hover-info .hover-text,
#teacher .blog-entry:hover .hover-info .hover-author{
    display: block;
}
.designation{
    color: #fff;
}
.designation.active, .real{
    background-color:  rgb(165, 74, 124,0.8);
}
/***************************** testimonial  ****************************8*/

#testimonial .text-center{
    margin: 20px 0 40px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 13vh !important;
}
 #testimonial h2{
    padding:15px 5px 5px 50px;

}
/****************************** sevice ********************************/
#service .service-section{
    background-image: linear-gradient(to left, rgba(255,0,0,0),#d859d2), url(../images/bg-service.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;
    
}
#service .text-center{
    margin: 20px 0 40px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 13vh !important;
}
 #service h2{
    padding:15px 5px 5px 50px;

}
#service .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px ;
    overflow: hidden;
}
#service .section-title{
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
#service .service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#service .service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color:rgb(255, 255, 255);
    cursor: pointer;

}
#service .service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid rgb(255, 247, 251);
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    color: rgb(255, 255, 255);

}
#service .service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 25px;
    transition: 0.3 linear;
}
#service .service-box:hover .service-icon{
    background: rgb(194, 79, 142);
    color: rgb(252, 248, 250);
    border: 3px solid rgb(214, 28, 121);

}
#service .service-title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#news .text-center{
    margin: 20px 0 0px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 13vh !important;
}
 #news h2{
    padding:15px 5px 5px 50px;

}
.contact{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.contact input{
    border: none;
    margin: 50px 20px 0px 0px;
    border-bottom: 2px solid rgb(172, 54, 119);
    width: 400px;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    background: none;
}
.contact input::placeholder{
    color: #fff;

}
.contact .mybtn{
    padding: 0px 30px;
    margin-top: 30px;
}
.contact label{
    font-size: 1.5rem;
    border: none;
    margin: 50px 20px 0px 0px;
    width: 150%;
    color: #fff;
    font-weight: bold;
    

}
/******************************* video  ***************************/
#video .text-center{
    margin: 20px 0 40px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 13vh !important;
}
 #video h2{
    padding:15px 5px 5px 50px;

}
#video iframe{
margin: auto;
}
#registration .text-center{
    margin: 50px 0 40px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 13vh !important;
}
 #registration h2{
    padding:15px 5px 5px 50px;

}
#registration .text-centerrr{
    margin: 50px 0 0px 0 !important;
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    box-shadow: 5px 5px 5px 5px rgb(177, 173, 173);
    height: 10vh !important;
}
#registration .std-info{
    border: 2px solid rgb(172, 54, 119);
}
#registration .mybtn-reg{
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}
#registration .std-info input{
        padding: 0 1rem;
        height: 50px;
        outline: none;
        border:none ;
        background-color: #fff;
        width: 40%;
        font-size: 1.15rem;
        border-radius: 25px;
        border-bottom: 5px solid rgb(172, 54, 119);
        margin: 2rem 2rem;
    }
    
#registration .std-info select{
    padding: 0 1rem;
    height: 50px;
    outline: none;
    border:none ;
    background-color: #fff;
    width: 40%;
    font-size: 1.15rem;
    border-radius: 25px;
    border-bottom: 5px solid rgb(172, 54, 119);
    margin: 2rem 2rem;
}

#registration  .btn{
    float: center;
    margin-right: 20px;
    margin-top:20px ;
}
#footer{
    background-color: #fff;
}
#footer .footer-hr{
    width: 125px;
    height: 5px;
}
#footer .text-center{
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(172, 54, 119) !important;
    height: 10vh !important;
}
#footer .bg-success{
    background-color:  rgb(172, 54, 119) !important;

}
#footer a{
    color: #111 !important;
}
#footer .footer-copyright{
    width:100% !important;
}
#footer .myfooter i{
    color: #fff;
    font-size: 2rem;
    margin-top: 30px;
}
#footer .text-light{
    color: #fff !important;
}
.top-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.top-btn img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
/*#bookflip{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bookflip input{
    display: none;
}
#bookflip img{
    width: 300px;
    height: 300px;
}
.book{
    display: flex;
}
#cover{
    width: 200px;
    height: 200px;
}
.flip-book{
    width: 50px;
    height: 100px;
    position: relative;
    perspective: 100px;
}
.flip{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 100;
    left: 100;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.5s;
}
.front{
    position: absolute;
    top: 100;
    left: 100;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 10px 0 25px rgba(0, 0,0, 0);
}
.back{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100;
    left: 100;
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
} */
 @keyframes move{
    0%{
        top: 0%;
    }
    25%{
        top: -25px;
    }
    50%{
        top: -50px;
    }
    75%{
        top: -75px;
    }
    100%{
        top: -90px;
    }
} 
@media  only screen and(min-device-width:768px) 
and(min-device-width:768px)
and(max-device-width:1024px)
and(orientation:portrait)
and(-webkit-min-device-pixel-ratio:1)
{
    
    .ayat{
        display: none;
    }
    #course .slide{
        margin-top: 15px;
    }
     
    .login-form form{
        width: 30rem;
        background: #fff;
        margin: 0 1rem;
        padding: 1rem 2rem;
    
} 
    

}
@media only screen and (max-width:768px){
    .ayat{
        display: none;
    }
    html{
        overflow-x:hidden;
    }
    #about .about-text{
        display: inline;
    }
    #course .slide{
        margin-top: 10px;
    }
    #course button .next{
        display:none;
    }
    #video .container{
        display: inline !important;
    }
    #video .container iframe{
        height: 200px !important;
        width: 300px !important;
    }
    #registration .std-info input{
        width: 90%;
    }
    #registration .std-info select{
        width: 90%;
    }
    #service .service-box{
        max-width: 100%;
        
    }
    .top-btn{
        right:40px;
    }
        .login-form form{
            width: 20rem;
            background: #fff;
            margin: 0;
            padding: 1rem 2rem;
        
    } 
    .vision h2{
        font-size: 30px;
    }
    .vision p{
        font-size: 15px;
    }  
    .contact input{
        margin: 10px 20px 0px 0px;
        width: 200px;
        font-size: 1rem;
        font-weight: lighter;
    } 
    .contact label{
        font-size: 1rem;
    }
    span1{
        display: flex;
        white-space: nowrap;
        font-size: 1rem;
        margin-top: 20px;
    }

}